/* Styles for the counter buttons */

/*Whole Container*/
.counter {
  display: inline-flex;
}

/* Whole Left/Right Containers*/
.decrement-container, .increment-container {
  height: 100%;
}
/*Individual Button Container*/
.counter-button {
  display: flex;
  flex-direction: column;
}

/*Button Adjustments*/
.counter-button button {
  border-radius: 2px; 
  cursor: pointer;
  height:8px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 2px;
}

/*Counter Value Adjustments*/
.counter-value {
  font-size: 16px;
  text-align: center;
  width: 24px;
  margin-left: 1px;
  margin-right: 1px;
}

