/* Styles for the counter buttons */
.counter-button {
  background-color: red !important;
  display: inline-block !important;
  margin-right: 5px !important;
}

.counter-button button {
  background-color: #ff0000 !important ;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Position the counter and the buttons */
.counter {
  background-color: red !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

/* Position the counter value */
.counter span {
  background-color: red !important;
  margin-right: 5px;
}

.increment-button :not(.clickable-icon) {
  margin-right: 0.5em;
}

.decrement-button {
  margin-right: 0.2em;
}